<launch>
	<node pkg="xf_mic_asr_offline" type="xf_asr_offline_node" name="xf_asr_offline_node" output="screen">
         <param name="source_path" type="string" value="$(arg package_path)"/>
         <rosparam command="load" file="$(find xf_mic_asr_offline)/config/mic_offline_params.yaml" />
        </node>
        
        <node pkg="xf_mic_tts_offline" type="xf_mic_tts_offline_node" name="xf_mic_tts_offline_node" output="screen">
         <param name="source_path" type="string" value="$(arg package_path)"/>
         <param name="appid" type="string" value="e7a321a6"/>
        </node>

        <node pkg="xf_mic_asr_offline" type="client_node" name="client_node" output="screen"/>
</launch>
